.wrapper {
  padding: 32px;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  margin-bottom: 24px;
}

.form {
  margin-top: 24px;
  background: #fff;
  padding: 12px;
  margin-bottom: 24px;
}

.label {
  display: block;
  font-weight: bold;
}

.hiddenLink {
  display: none;
}

.downloadBtn {
  margin-top: 12px;
}
